@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


body
{
    font-family: Raleway;
}


/* Structure of the Document */
.container
{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1D171C;
}

.pageHeader
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: 	#D99656;
}

.pageNavbar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    background-color: #F4B663;
}

.editor
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background-color: #252525;
}

.leftSection
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    left: 0%;
    background-color: #252525;
}

.middleSection
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    height: 100%;
    left: 20%;
    background-color: #252525;
}

.rightSection
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
    height: 100%;
    left: 75%;
    background-color: #252525;
}

.semiFooter
{
    width: 100%;
    height: 50px;
    background-color: #F4B663;
}

.pageFooter
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: #1D171C;
    color: white;
}

.footerData
{
    margin-left: 0;
    padding-left: 0;
}

.outReach
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;   
}

.footerLinks
{
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.outReachLinks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialMediaLinks
{
    margin: 2px;
    max-width: 50px;
}
/* left section options */

.leftDesktopOptions
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 51px;
    width: 80%;
    cursor: default;
}

.leftDesktopOption 
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    color: #FFFFFD;
    width: 100%;
    transition-duration: 0.1s;
}

.liActive
{
    background-color: #272729;
    box-shadow: 0px 10px 12px -8px black;
    
}

/* Middle section */
.middleTop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #252525;
    color: #F4B663;
}

.middleTopDesktopOptions
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
    margin-top: 0%;
    cursor: default;
}

.middleTopDesktopOption
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.3s;
}

.middleTopInactive
{
    background-color: #1D171C;
}

.imageSection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#editorImage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

/* Right Section */
.filterImage
{
    max-width: 90px;
    height: auto;
}

.filters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0%;
    margin-top: 0%;
}

#filtersSection
{
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    justify-content: space-evenly;
    width: 100%;
}

.filter
{
    display: flex;
    flex-direction: column;
    color: #FFFFFD;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 100;
    transition-duration: 0.15s;
}

.filter p
{
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.filterActive
{
    box-shadow: -8px 9px 51px -6px black;
    background-color: #755F47;
}

/* Search Box */
.searchBox
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#search
{
    border-radius: 10px;
    border-width: 0 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    width: 20%;
    background-image: url('../images/glass.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 14px;
}

#search::placeholder
{
    color: #F4B663;
}

.avatarRight
{
    margin-right: 10px;
}

.avatar
{
    width: 35px;
}

.invisible
{
    visibility: hidden;
}

.hamburger
{
    visibility: hidden;
}

#arrowImage
{
    padding-left: 10px;
    width: 30px;
    opacity: 0.7;
}



/* Media Queries for Responsive Behaviour */
@media screen and (max-width: 768px)
{
    .pageHeader
    {
        height: 80px;
    }
    .pageNavbar
    {
        height: 60px;
    }
    .editor
    {
        height: auto;
        flex-direction: column;
    }
    .semiFooter
    {
        height: 80px;
    }

    .pageFooter
    {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }

    .quickLinks, .services, .support
    {
        text-align: center;
    }

    .outReach
    {
        margin-top: 20px;
        margin-bottom: 40px;
    }


    .leftSection
    {
        width: 100%;
        height: 0%;
        left: 0%;
        transition-duration: 0.6s;
    }

    .leftDesktopOptions
    {
        margin-top: 5px;
        width: 90%;
    }

    .middleSection
    {
        width: 100%;
        height: auto;
        left: 0;
    }

    .rightSection
    {
        width: 100%;
        height: auto;
        left: 0;
    }

    #search
    {
        border-radius: 25px;
        width: 55%;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .filterImage
    {
        max-width: 130px;
    }

    .hamburger
    {

        visibility: visible;
    }


}